<h1>Checkout</h1>

<div style="margin: 50px;" class="cho-container">
</div>

<script src="https://sdk.mercadopago.com/js/v2"></script>

<script>
    // Adicione as credenciais do SDK
    const mp = new MercadoPago("{{ mp_public_key }}", {
        locale: 'pt-BR'
    });

    // Inicialize o checkout
    mp.checkout({
        preference: {
            id: "{{ preference_id }}",
        },
        render: {
            container: '.cho-container', // Indique o nome da class onde será exibido o botão de pagamento
            label: 'Pague a compra', // Muda o texto do botão de pagamento (opcional)
        }
    });

</script>