<div>
    <h1>Pagamento realizado com sucesso!</h1>
    <p>Forma de pagamento: {{ payment_type }}</p>
    <p>Referência: {{ external_reference }}</p>
    <p>ID da transação: {{ collection_id }}</p>
</div>